.navbar-brand img
	{
		    height: 100%;
	}

.fill-screen
{
	background-position: center;
	background-size: cover;
	position: relative;
	margin-top:55px;
	height: 400px
}

.founders
{
	position: absolute;
	bottom:0px;
	left: 50%;
	margin-right: -50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	height: 50%;
}

@media (min-width: 768px) 
{
	.founders
	{
		height: 60%;
	}
}