.navbar-brand img
	{
		    height: 100%;
	}

.fill-screen
{
	background-position: center;
	background-size: cover;
	position: relative;
	margin-top:55px;
	height: 500px
}

.founders
{
	position: absolute;
	bottom:0px;
	left: 50%;
	margin-right: -50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	height: 60%;
}

.founders-message
{
	color: white;
	font-weight:bold;
}

@media (min-width: 768px) 
{
	.founders
	{
		height: 65%;
	}
}

@media (max-width:767px)
{
	.founders-message
	{
		font-size: 2.5em;
	}	
	.fill-screen
	{
		height: 300px;
	}

}