.navbar-brand img
	{
		    height: 30px;
	}

.fill-screen
{
	background-position: center;
	background-size: cover;
	position: relative;
	margin-top:57px;
	height: 500px
}

.founders
{
	position: absolute;
	bottom:0px;
	left: 50%;
	margin-right: -50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	height: 60%;
}

.founders-message
{
	color: white;
	font-weight:bold;
}

.company-logos
{
	width: 450px;
}

/*for large devices*/
@media (min-width: 768px) 
{
	.founders
	{
		height: 65%;
	}

	.navbar .container
	{
		width:auto;
		margin:0px auto;
	}

	.navbar .navbar-collapse
	{
		width:auto;
	}

}

/*for small devices*/
@media (max-width:767px)
{
	.founders-message
	{
		font-size: 2.5em;
	}	
	.fill-screen
	{
		height: 300px;
	}

	.navbar .container
	{
		margin-left: 0px;
	}	

	.company-logos
	{
		width: 300px;
	}

	.company-logo
	{
		width: 60px;
	}

	#rails-img
	{
		width: 30px;
	}
}